<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
<application android:theme="@style/AppTheme" android:label="פלאי אפליקציות" android:usesCleartextTraffic="true">
<receiver android:name=".PeleiDeviceAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN" android:exported="true">
<intent-filter><action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/></intent-filter>
<meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
</receiver>
<activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
<intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
</activity>
</application></manifest>